<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>System ⚙️</title>
</head>
<body>
    <h5>Register Page</h5>
    <form action="/register" method="post">
        <input type="text" name="username" placeholder="username">
        <input type="password" name="password" placeholder="password">
        <input type="email" name="email" placeholder="email">
        <button type="submit">submit</button>
    </form>
</body>
</html>